
@{
    ViewBag.Title = "Partner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- contact page breadcrumns -->
<section class="inner-banner"></section>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-padding">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Our Partners</li>
    </ol>
</nav>
<!-- contact page breadcrumns -->
<!-- services page block 1 -->
<section class="w3l-features">
    <div class="call-w3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                    <h4 class="section-title">Our Partners</h4>
                    <p class="text-center">
                        Thank all partners who accompany and support for our organization. We will try to maintain and develop it so that we can help many difficult people around the world.
                    </p>
                </div>
            </div>
            <div class="row" id="partImg">
                <a href="#"><img src="~/Content/assets/images/about.png" class="img-thumbnail" alt="Cinque Terre"></a>
                <a href="#"><img src="~/Content/assets/images/about.png" class="img-thumbnail" alt="Cinque Terre"></a>
                <a href="#"><img src="~/Content/assets/images/about.png" class="img-thumbnail" alt="Cinque Terre"></a>
            </div>
            
        </div>
    </div>
</section>
<!-- services page block 1 -->