@model NGO.Models.ViewModels.ContactView
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Insert Contact
                </header>
                <form action="@Url.Action("InsertContact")" method="POST" enctype="multipart/form-data">
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="">Email:</label>
                                <input type="email" class="form-control" name="Email" maxlength="200" required>
                            </div>
                            <div class="form-group">
                                <label for="">Phone number:</label>
                                <input type="text" class="form-control" name="PhoneNumber" maxlength="20" required>
                            </div>
                            <div class="form-group">
                                <label for="">Address:</label><br />
                                <textarea name="Address" required style="width:100%;"></textarea>
                            </div>
                            <button type="submit" name="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6">
            @if (Model != null)
            {
                <section class="panel">
                    <header class="panel-heading">
                        Data Contact
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="">Email:</label>
                                <span>@Model.Email</span>
                            </div>
                            <div class="form-group">
                                <label for="">Phone number:</label>
                                <span>@Model.PhoneNumber</span>
                            </div>
                            <div class="form-group">
                                <label for="">Address:</label>
                                <span>@Model.Address</span>
                            </div>
                        </div>
                    </div>
                </section>
            }

        </div>
    </div>
</div>

